@charset "UTF-8";
/* font 請依照專案需求進行調整 */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700&family=Prompt:wght@300&family=Rubik:wght@600;700&display=swap");
/* radius */
/* ------- media query ------- */
/* ------- mixins ------- */
/* size */
/* pseudo */
/* 置中 */
/* 動畫效果 */
/* text */
/*
This will help you to create spacing classes for margin and padding.

Eg: mt-0 , pl-5

The first letter represents the spacing type ( Margin/Padding ).
m:  margin
p:  padding

The second letter represents the direction.
l: left
r: right
t: top
b: bottom
v: vertical (top and bottom)
h: horizontal (left and right)
a: all

The third represents the spacing value (which you can give your own)

For eg: 'mb-0' means margin-bottom: 0;
*/
.pa-0 {
  padding: 0px;
}

.pl-0 {
  padding-left: 0px !important;
}

.pt-0 {
  padding-top: 0px !important;
}

.pr-0 {
  padding-right: 0px !important;
}

.pb-0 {
  padding-bottom: 0px !important;
}

.pv-0 {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.ph-0 {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.pa-5 {
  padding: 5px;
}

.pl-5 {
  padding-left: 5px !important;
}

.pt-5 {
  padding-top: 5px !important;
}

.pr-5 {
  padding-right: 5px !important;
}

.pb-5 {
  padding-bottom: 5px !important;
}

.pv-5 {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.ph-5 {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.pa-10 {
  padding: 10px;
}

.pl-10 {
  padding-left: 10px !important;
}

.pt-10 {
  padding-top: 10px !important;
}

.pr-10 {
  padding-right: 10px !important;
}

.pb-10 {
  padding-bottom: 10px !important;
}

.pv-10 {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.ph-10 {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.pa-15 {
  padding: 15px;
}

.pl-15 {
  padding-left: 15px !important;
}

.pt-15 {
  padding-top: 15px !important;
}

.pr-15 {
  padding-right: 15px !important;
}

.pb-15 {
  padding-bottom: 15px !important;
}

.pv-15 {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

.ph-15 {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.pa-20 {
  padding: 20px;
}

.pl-20 {
  padding-left: 20px !important;
}

.pt-20 {
  padding-top: 20px !important;
}

.pr-20 {
  padding-right: 20px !important;
}

.pb-20 {
  padding-bottom: 20px !important;
}

.pv-20 {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

.ph-20 {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.pa-25 {
  padding: 25px;
}

.pl-25 {
  padding-left: 25px !important;
}

.pt-25 {
  padding-top: 25px !important;
}

.pr-25 {
  padding-right: 25px !important;
}

.pb-25 {
  padding-bottom: 25px !important;
}

.pv-25 {
  padding-top: 25px !important;
  padding-bottom: 25px !important;
}

.ph-25 {
  padding-left: 25px !important;
  padding-right: 25px !important;
}

.pa-30 {
  padding: 30px;
}

.pl-30 {
  padding-left: 30px !important;
}

.pt-30 {
  padding-top: 30px !important;
}

.pr-30 {
  padding-right: 30px !important;
}

.pb-30 {
  padding-bottom: 30px !important;
}

.pv-30 {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}

.ph-30 {
  padding-left: 30px !important;
  padding-right: 30px !important;
}

.pa-35 {
  padding: 35px;
}

.pl-35 {
  padding-left: 35px !important;
}

.pt-35 {
  padding-top: 35px !important;
}

.pr-35 {
  padding-right: 35px !important;
}

.pb-35 {
  padding-bottom: 35px !important;
}

.pv-35 {
  padding-top: 35px !important;
  padding-bottom: 35px !important;
}

.ph-35 {
  padding-left: 35px !important;
  padding-right: 35px !important;
}

.pa-40 {
  padding: 40px;
}

.pl-40 {
  padding-left: 40px !important;
}

.pt-40 {
  padding-top: 40px !important;
}

.pr-40 {
  padding-right: 40px !important;
}

.pb-40 {
  padding-bottom: 40px !important;
}

.pv-40 {
  padding-top: 40px !important;
  padding-bottom: 40px !important;
}

.ph-40 {
  padding-left: 40px !important;
  padding-right: 40px !important;
}

.ma-0 {
  margin: 0px;
}

.ml-0 {
  margin-left: 0px !important;
}

.mt-0 {
  margin-top: 0px !important;
}

.mr-0 {
  margin-right: 0px !important;
}

.mb-0 {
  margin-bottom: 0px !important;
}

.mv-0 {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.mh-0 {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.ma-5 {
  margin: 5px;
}

.ml-5 {
  margin-left: 5px !important;
}

.mt-5 {
  margin-top: 5px !important;
}

.mr-5 {
  margin-right: 5px !important;
}

.mb-5 {
  margin-bottom: 5px !important;
}

.mv-5 {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

.mh-5 {
  margin-left: 5px !important;
  margin-right: 5px !important;
}

.ma-10 {
  margin: 10px;
}

.ml-10 {
  margin-left: 10px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mr-10 {
  margin-right: 10px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mv-10 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.mh-10 {
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.ma-15 {
  margin: 15px;
}

.ml-15 {
  margin-left: 15px !important;
}

.mt-15 {
  margin-top: 15px !important;
}

.mr-15 {
  margin-right: 15px !important;
}

.mb-15 {
  margin-bottom: 15px !important;
}

.mv-15 {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}

.mh-15 {
  margin-left: 15px !important;
  margin-right: 15px !important;
}

.ma-20 {
  margin: 20px;
}

.ml-20 {
  margin-left: 20px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mr-20 {
  margin-right: 20px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mv-20 {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.mh-20 {
  margin-left: 20px !important;
  margin-right: 20px !important;
}

.ma-25 {
  margin: 25px;
}

.ml-25 {
  margin-left: 25px !important;
}

.mt-25 {
  margin-top: 25px !important;
}

.mr-25 {
  margin-right: 25px !important;
}

.mb-25 {
  margin-bottom: 25px !important;
}

.mv-25 {
  margin-top: 25px !important;
  margin-bottom: 25px !important;
}

.mh-25 {
  margin-left: 25px !important;
  margin-right: 25px !important;
}

.ma-30 {
  margin: 30px;
}

.ml-30 {
  margin-left: 30px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.mr-30 {
  margin-right: 30px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mv-30 {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}

.mh-30 {
  margin-left: 30px !important;
  margin-right: 30px !important;
}

.ma-35 {
  margin: 35px;
}

.ml-35 {
  margin-left: 35px !important;
}

.mt-35 {
  margin-top: 35px !important;
}

.mr-35 {
  margin-right: 35px !important;
}

.mb-35 {
  margin-bottom: 35px !important;
}

.mv-35 {
  margin-top: 35px !important;
  margin-bottom: 35px !important;
}

.mh-35 {
  margin-left: 35px !important;
  margin-right: 35px !important;
}

.ma-40 {
  margin: 40px;
}

.ml-40 {
  margin-left: 40px !important;
}

.mt-40 {
  margin-top: 40px !important;
}

.mr-40 {
  margin-right: 40px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.mv-40 {
  margin-top: 40px !important;
  margin-bottom: 40px !important;
}

.mh-40 {
  margin-left: 40px !important;
  margin-right: 40px !important;
}

* {
  outline: none;
  -webkit-overflow-scrolling: touch;
}

html,
body {
  height: auto;
  font-family: "PingFangTC", "Noto Sans TC", "微軟正黑體", "Microsoft JhengHei", "Rubik";
  color: #333333;
  font-size: 16px;
  line-height: 1.5;
  background-size: 12px;
  overflow-x: hidden;
}

.wrapper {
  min-height: 100%;
  position: relative;
  overflow-x: hidden;
}
.wrapper.bg-plaid {
  background-image: url(../images/bg-plaid.png);
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .wrapper.bg-plaid {
    background-image: url(../images/bg-plaid@2x.png);
  }
}

.content {
  padding-top: 140px;
}
.content-inner {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 35px;
}
@media (max-width: 991.98px) {
  .content-inner {
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (max-width: 767.98px) {
  .content-inner {
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 16px;
  }
}
@media (max-width: 575.98px) {
  .content {
    padding-top: 100px;
  }
}

.section {
  padding: 0 20px;
  margin: 0 auto;
}

.bg-light-blue {
  background-color: #124098;
}
.bg-blue {
  background-color: #124098;
}
.bg-red {
  background-color: #ee5d5d;
}
.bg-black {
  background-color: #333333;
}
.bg-white {
  background-color: #fff;
}
.bg-gray {
  background-color: #8f8f8f;
}

.text-black {
  background-color: #333333;
}
.text-gray {
  background-color: #8f8f8f;
}
.text-blue {
  background-color: #124098;
}
.text-white {
  background-color: #fff;
}

h1,
.h1 {
  font-size: 35px;
  font-weight: 600;
  margin: 0;
}

h2,
.h2 {
  font-size: 28px;
  font-weight: 600;
  margin: 0;
}

h3,
.h3 {
  font-size: 24px;
  margin: 0;
}

h4,
.h4 {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}

h5,
.h5 {
  font-size: 18px;
  margin: 0;
}

h6,
.h6 {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}

a,
.btn-link {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
}

.icon {
  display: inline-block;
}

button {
  color: inherit;
  border: none;
  outline: none;
}
button:hover {
  color: inherit;
}

button:focus,
.btn.focus,
.btn:focus,
.btn.show:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/* bootstrap: btn -------------------- */
.btn {
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-property: all;
  transition-property: all;
  padding: 14px 20px;
  margin: 10px 0;
  border: none;
  border-radius: 30px;
  position: relative;
  background-color: #ffa461;
  color: white;
}
.btn:focus, .btn.focus, .btn:not(:disabled):not(.disabled):active:focus, .btn:not(:disabled):not(.disabled):active {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.btn:disabled, .btn.disabled {
  cursor: not-allowed;
  opacity: 1;
}
.btn-primary {
  background-color: #ffa461;
  border-color: none;
  font-size: 18px;
  font-weight: 500;
}
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled):active:focus {
  background-color: #e88237;
  color: white;
}
.btn-primary:focus, .btn-primary.focus {
  background-color: #e88237;
  color: white;
}
.btn-primary:hover {
  -webkit-transform: scale(1.02);
      -ms-transform: scale(1.02);
          transform: scale(1.02);
  background-color: #e88237;
  color: white;
}
.btn-primary:disabled, .btn-primary.disabled {
  background-color: #c4c4c4;
  border-color: #c4c4c4;
  color: #fff;
}
.btn-primary:disabled:hover, .btn-primary.disabled:hover {
  -webkit-transform: scale(1.02);
      -ms-transform: scale(1.02);
          transform: scale(1.02);
  border-color: #c4c4c4;
  background-color: #c4c4c4;
  color: #fff;
}
.btn-secondary {
  background-color: #e6266e;
  border-color: transparent;
  font-size: 18px;
  font-weight: 500;
  color: white;
}
.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled):active:focus {
  background-color: #d11058;
  border-color: transparent;
  color: white;
}
.btn-secondary:focus, .btn-secondary.focus {
  background-color: #e6266e;
  border-color: transparent;
  color: white;
}
.btn-secondary:hover {
  -webkit-transform: scale(1.02);
      -ms-transform: scale(1.02);
          transform: scale(1.02);
  border-color: transparent;
  background-color: #d11058;
  color: white;
}
.btn-secondary:disabled, .btn-secondary.disabled {
  background-color: #c4c4c4;
  border-color: #c4c4c4;
  color: #fff;
}
.btn-secondary:disabled:hover, .btn-secondary.disabled:hover {
  -webkit-transform: scale(1.02);
      -ms-transform: scale(1.02);
          transform: scale(1.02);
  border-color: #c4c4c4;
  background-color: #c4c4c4;
  color: #fff;
}
@media (max-width: 575.98px) {
  .btn-primary, .btn-secondary {
    font-size: 16px;
  }
}

/* bootstrap: dropdown -------------------- */
/* default setting for input, textarea, select -------------------- */
input::-ms-clear {
  display: none;
  height: 0;
  width: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
          appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

/* bootstrap: label -------------------- */
.form-label {
  margin-bottom: 0.5rem;
}

.col-form-label {
  padding-top: calc(0.35rem + 1px);
  padding-bottom: calc(0.35rem + 1px);
}

/* bootstrap: original input -------------------- */
input,
input.form-control {
  height: 40px;
  border-radius: 0;
  border: none;
  border-bottom: solid 1px #474747;
  padding: 8px 12px 8px 0;
  color: #333333;
}
input:hover, input:focus,
input.form-control:hover,
input.form-control:focus {
  border: none;
  border-bottom: solid 1px #e6266e;
}
input:focus,
input.form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}
input::-webkit-input-placeholder, input.form-control::-webkit-input-placeholder {
  color: #c4c4c4;
}
input::-moz-placeholder, input.form-control::-moz-placeholder {
  color: #c4c4c4;
}
input:-ms-input-placeholder, input.form-control:-ms-input-placeholder {
  color: #c4c4c4;
}
input::-ms-input-placeholder, input.form-control::-ms-input-placeholder {
  color: #c4c4c4;
}
input::placeholder,
input.form-control::placeholder {
  color: #c4c4c4;
}
input:disabled, input.disabled,
input.form-control:disabled,
input.form-control.disabled {
  background-color: #c4c4c4;
  border-color: #c4c4c4;
  color: #333333;
  -webkit-text-fill-color: #333333;
}
@media (max-width: 575.98px) {
  input,
  input.form-control {
    font-size: 14px;
  }
}

/* bootstrap: textarea -------------------- */
textarea,
textarea.form-control {
  height: auto;
  border-radius: 0;
  border: none;
  border-bottom: solid 1px #474747;
  padding: 8px 12px 8px 0;
  color: #333333;
  width: 100%;
}
textarea:hover, textarea:focus,
textarea.form-control:hover,
textarea.form-control:focus {
  border: none;
  border-bottom: solid 1px #e6266e;
}
textarea:focus,
textarea.form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}
textarea::-webkit-input-placeholder, textarea.form-control::-webkit-input-placeholder {
  color: #c4c4c4;
}
textarea::-moz-placeholder, textarea.form-control::-moz-placeholder {
  color: #c4c4c4;
}
textarea:-ms-input-placeholder, textarea.form-control:-ms-input-placeholder {
  color: #c4c4c4;
}
textarea::-ms-input-placeholder, textarea.form-control::-ms-input-placeholder {
  color: #c4c4c4;
}
textarea::placeholder,
textarea.form-control::placeholder {
  color: #c4c4c4;
}
textarea:disabled, textarea.disabled,
textarea.form-control:disabled,
textarea.form-control.disabled {
  background-color: #c4c4c4;
  border-color: #c4c4c4;
  color: #333333;
  -webkit-text-fill-color: #333333;
}
@media (max-width: 575.98px) {
  textarea,
  textarea.form-control {
    font-size: 14px;
  }
}

/* bootstrap: select -------------------- */
select,
.form-select {
  height: 40px;
  border-radius: 0;
  border: none;
  border-bottom: solid 1px #474747;
  padding: 8px 12px 8px 0;
  color: #333333;
  text-overflow: ellipsis;
}
select:hover, select:focus,
.form-select:hover,
.form-select:focus {
  border: none;
  border-bottom: solid 1px #e6266e;
}
select:focus,
.form-select:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}
select::-webkit-input-placeholder, .form-select::-webkit-input-placeholder {
  color: #c4c4c4;
}
select::-moz-placeholder, .form-select::-moz-placeholder {
  color: #c4c4c4;
}
select:-ms-input-placeholder, .form-select:-ms-input-placeholder {
  color: #c4c4c4;
}
select::-ms-input-placeholder, .form-select::-ms-input-placeholder {
  color: #c4c4c4;
}
select::placeholder,
.form-select::placeholder {
  color: #c4c4c4;
}
select:disabled, select.disabled,
.form-select:disabled,
.form-select.disabled {
  background-color: #c4c4c4;
  border-color: #c4c4c4;
  color: #333333;
  -webkit-text-fill-color: #333333;
}

.input-group .bs-select {
  width: 100%;
}
.input-group .bs-select .select-placeholder {
  color: #c4c4c4;
}
.input-group .bs-select .dropdown-toggle {
  height: auto;
  border-radius: 0;
  border: none;
  border-bottom: solid 1px #474747;
  padding: 8px 12px 8px 0;
  color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
  text-align: left;
  margin: 0;
  width: 100%;
}
.input-group .bs-select .dropdown-toggle:hover, .input-group .bs-select .dropdown-toggle:focus {
  border: none;
  border-bottom: solid 1px #e6266e;
}
.input-group .bs-select .dropdown-toggle:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.input-group .bs-select .dropdown-toggle::-webkit-input-placeholder {
  color: #c4c4c4;
}
.input-group .bs-select .dropdown-toggle::-moz-placeholder {
  color: #c4c4c4;
}
.input-group .bs-select .dropdown-toggle:-ms-input-placeholder {
  color: #c4c4c4;
}
.input-group .bs-select .dropdown-toggle::-ms-input-placeholder {
  color: #c4c4c4;
}
.input-group .bs-select .dropdown-toggle::placeholder {
  color: #c4c4c4;
}
.input-group .bs-select .dropdown-toggle:disabled, .input-group .bs-select .dropdown-toggle.disabled {
  background-color: #c4c4c4;
  border-color: #c4c4c4;
  color: #333333;
  -webkit-text-fill-color: #333333;
}
.input-group .bs-select .dropdown-toggle::after {
  vertical-align: middle;
}
.input-group .bs-select .dropdown-item {
  padding: 8px 12px 8px 0;
  font-weight: normal;
}
.input-group .bs-select .dropdown-item:hover {
  background-color: #dddddd;
}
.input-group .bs-select .dropdown-item.active {
  background-color: #fff;
}

/* required -------------------- */
.requiredlabel::after, .required.col-form-label::after, .required.legend::after {
  content: "*";
  color: #ee5d5d;
}

/* invalid -------------------- */
.invalid-feedback {
  font-size: 13px;
  color: #ee5d5d;
  margin-top: 4px;
  width: 100%;
  display: none;
}
.invalid input,
.invalid textarea,
.invalid .form-control {
  border-color: #ee5d5d;
}
.invalid input:focus, .invalid input:hover:focus, .invalid input:hover,
.invalid textarea:focus,
.invalid textarea:hover:focus,
.invalid textarea:hover,
.invalid .form-control:focus,
.invalid .form-control:hover:focus,
.invalid .form-control:hover {
  border-color: #ee5d5d;
}
.invalid select,
.invalid .form-select,
.invalid .bs-select .select-wrapper,
.invalid .bs-select .select-wrapper:hover,
.invalid .bs-select .select-wrapper:focus {
  border-color: #ee5d5d;
}
.invalid .invalid-feedback {
  display: block;
}
.invalid .form-check-label {
  color: #ee5d5d;
}

/* form-text -------------------- */
.form-text {
  font-size: 13px;
  color: #c4c4c4;
  margin-top: 4px;
}

/* <header> -------------------- */
/* header > logo -------------------- */
.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.logo-inner {
  padding: 0px 30px;
}
.logo::before, .logo::after {
  content: "";
  display: block;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 160px;
  background-repeat: repeat-x;
  background-size: auto 160px;
}
.logo::before {
  background-position: right;
  background-image: url(../images/header-flag-left.png);
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .logo::before {
    background-image: url(../images/header-flag-left@2x.png);
  }
}
.logo::after {
  background-position: left;
  background-image: url(../images/header-flag-right.png);
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .logo::after {
    background-image: url(../images/header-flag-right@2x.png);
  }
}

/* <footer> -------------------- */
.footer {
  z-index: 10;
}
.footer-inner {
  background-color: #124098;
  text-align: center;
  padding: 20px 0;
}
.footer-inner p {
  font-family: "new-rubrik", sans-serif;
  font-size: 14px;
  color: #b0c5ee;
  margin: 0;
}
@media (max-width: 575.98px) {
  .footer p {
    font-size: 12px;
  }
}

.nav-sec {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
@media (max-width: 991.98px) {
  .nav-sec {
    top: 0;
    left: 0;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
    width: 100%;
  }
}

.navbar-main {
  position: relative;
  padding: 15px;
  background: url("../images/img-bg-grid@2x.png") top center no-repeat #fef4e1;
  background-size: cover;
  border-bottom: solid 1px #8b6d54;
  font-family: "sketchnote-square", sans-serif;
}
.navbar-main .navbar-brand {
  color: #8b6d54;
  font-size: 30px;
}
.navbar-main .navbar-nav {
  margin: 0;
}
.navbar-main .navbar-nav .nav-item {
  cursor: pointer;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  padding: 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.navbar-main .navbar-nav .nav-item-en {
  padding: 0 30px;
}
.navbar-main .navbar-nav .nav-link {
  padding: 5px 0;
  color: #8b6d54;
  z-index: 1;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  font-size: 20px;
  font-weight: 500;
  white-space: nowrap;
}
.navbar-main .navbar-nav .nav-link::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 5px;
  background: url("../images/img-wavy.svg") left repeat-x;
  background-size: cover;
  background-position: 100%;
  display: none;
  -webkit-animation: wavy 2s linear infinite alternate;
          animation: wavy 2s linear infinite alternate;
}
.navbar-main .navbar-nav .nav-link:hover, .navbar-main .navbar-nav .nav-link.active {
  text-decoration: none;
  color: #ffa461;
}
.navbar-main .navbar-nav .nav-link:hover::before, .navbar-main .navbar-nav .nav-link.active::before {
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-property: all;
  transition-property: all;
  display: initial;
}
@media (max-width: 1199.98px) {
  .navbar-main .navbar-nav .nav-item {
    padding: 10px 20px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}
@media (max-width: 991.98px) {
  .navbar-main .navbar-nav .nav-item {
    padding: 4px 0;
  }
  .navbar-main .navbar-nav .nav-link::before {
    bottom: 0px;
  }
}
@media (max-width: 575.98px) {
  .navbar-main .navbar-nav .nav-link {
    font-size: 16px;
  }
}
.navbar-main .navbar-toggler {
  border: none;
  padding: 0;
  width: 30px;
  height: 30px;
}
.navbar-main .navbar-toggler img {
  width: 100%;
}
.navbar-main .navbar-toggler:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.navbar-main .navbar-toggler .toggler-close {
  display: none;
}
.navbar-main .navbar-toggler[aria-expanded=true] .togglar-hamburger {
  display: none;
}
.navbar-main .navbar-toggler[aria-expanded=true] .toggler-close {
  display: block;
}
.navbar-main .navbar-collapse {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media (max-width: 991.98px) {
  .navbar-main {
    border-radius: 0;
  }
  .navbar-main::before {
    display: none;
  }
  .navbar-main::after {
    display: none;
  }
  .navbar-main .navbar-nav {
    padding: 15px 0;
  }
  .navbar-main .language-drop {
    display: none;
  }
  .navbar-main .language-tab-m {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 25px 20px 15px;
    border-top: solid 1px #dddddd;
  }
  .navbar-main .language-tab-m .language-ic {
    width: 24px;
    height: auto;
  }
  .navbar-main .language-tab-m .language-ic img {
    width: 100%;
  }
  .navbar-main .language-tab-m .language-active {
    padding: 0 10px 0 5px;
    border-right: solid 1px #474747;
  }
  .navbar-main .language-tab-m .language-active a {
    color: #124098;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
  }
  .navbar-main .language-tab-m .language-default {
    padding-left: 10px;
  }
  .navbar-main .language-tab-m .language-default a {
    color: #8f8f8f;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
  }
}
@media (max-width: 767.98px) {
  .navbar-main {
    padding: 10px;
  }
}
@media (max-width: 575.98px) {
  .navbar-main {
    padding: 10px 5px;
  }
  .navbar-main .navbar-brand {
    font-size: 22px;
  }
  .navbar-main .navbar-brand-en {
    width: 200px;
    height: auto;
  }
  .navbar-main .language-tab-m {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 25px 10px 15px;
    border-top: solid 1px #dddddd;
  }
  .navbar-main .language-tab-m .language-active {
    padding: 0 10px 0 5px;
  }
  .navbar-main .language-tab-m .language-active a {
    font-size: 16px;
  }
  .navbar-main .language-tab-m .language-default a {
    font-size: 16px;
  }
}

@-webkit-keyframes wavy {
  0% {
    background-position: 0%;
  }
  50% {
    background-position: 100%;
  }
  100% {
    background-position: 200%;
  }
}

@keyframes wavy {
  0% {
    background-position: 0%;
  }
  50% {
    background-position: 100%;
  }
  100% {
    background-position: 200%;
  }
}
body {
  font-family: "Chiron GoRound TC", sans-serif;
  scroll-behavior: smooth;
  background: url("../images/img-bg-grid@2x.png") top center repeat-y #fef4e1;
  background-size: 100%;
}

.sec-title {
  text-align: center;
  color: #474747;
}
.sec-title h2 {
  font-family: "sketchnote-square", sans-serif;
  display: inline-block;
  padding-bottom: 10px;
  position: relative;
  font-size: 35px;
}
.sec-title h2::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 50%;
  height: 4px;
  background-color: #ffa461;
  border-radius: 5px;
}
@media (max-width: 575.98px) {
  .sec-title h2 {
    font-size: 28px;
  }
}

.kv-section .kv-content {
  position: relative;
}
.kv-section .kv-slogan {
  position: relative;
  z-index: 2;
  margin-bottom: 40px;
}
.kv-section .kv-slogan h1 {
  font-family: "sketchnote-square", sans-serif;
  font-weight: 400;
  font-size: 55px;
  color: #8b6d54;
  text-align: center;
}
.kv-section .kv-deco-left {
  position: absolute;
  top: 30%;
  left: 0%;
  z-index: 1;
  width: 50%;
  height: 100%;
}
.kv-section .kv-deco-left .dot-orange {
  position: absolute;
  top: -11%;
  left: -2%;
  width: 120px;
  height: auto;
  z-index: 1;
}
.kv-section .kv-deco-left .dot-orange img {
  width: 100%;
}
.kv-section .kv-deco-left .sticker-ui {
  position: absolute;
  bottom: 40%;
  width: 300px;
  height: auto;
  z-index: 1;
  -webkit-animation: up-down 2s ease-in-out infinite;
          animation: up-down 2s ease-in-out infinite;
}
.kv-section .kv-deco-left .sticker-ui img {
  width: 100%;
}
.kv-section .kv-deco-left .sticker-rwd {
  position: absolute;
  right: 35%;
  top: -13%;
  width: 235px;
  height: auto;
  z-index: 1;
}
.kv-section .kv-deco-left .sticker-rwd img {
  width: 100%;
}
.kv-section .kv-deco-left .shine-green {
  position: absolute;
  top: 15%;
  left: 15%;
  width: 35px;
  height: auto;
  z-index: 1;
  -webkit-animation: sparkle 1.5s ease-in-out infinite;
          animation: sparkle 1.5s ease-in-out infinite;
}
.kv-section .kv-deco-left .shine-green img {
  width: 100%;
}
.kv-section .deco-box {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.kv-section .kv-deco-right {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}
.kv-section .kv-deco-right .dot-green {
  position: absolute;
  right: 0;
  top: 10%;
  width: 120px;
  height: auto;
  z-index: 1;
}
.kv-section .kv-deco-right .dot-green img {
  width: 100%;
}
.kv-section .kv-deco-right .sticker-html {
  position: absolute;
  top: 25%;
  right: 10%;
  width: 310px;
  height: auto;
  z-index: 1;
  -webkit-animation: rotate 2.5s linear infinite;
          animation: rotate 2.5s linear infinite;
}
.kv-section .kv-deco-right .sticker-html img {
  width: 100%;
}
.kv-section .kv-deco-right .shine-orange {
  position: absolute;
  bottom: 20%;
  right: 24%;
  width: 50px;
  height: auto;
  z-index: 1;
  -webkit-animation: sparkle 2s ease-in-out infinite;
          animation: sparkle 2s ease-in-out infinite;
}
.kv-section .kv-deco-right .shine-orange img {
  width: 100%;
}
.kv-section .kv-pic {
  position: relative;
  z-index: 2;
}
.kv-section .kv-pic .pic-box {
  width: 40%;
  height: auto;
  margin: auto;
  -webkit-transform: translateX(30px);
      -ms-transform: translateX(30px);
          transform: translateX(30px);
}
.kv-section .kv-pic .pic-box img {
  width: 100%;
}
@media (max-width: 1399.98px) {
  .kv-section .kv-deco-left .dot-orange {
    top: -12%;
    left: 0%;
    width: 20%;
  }
  .kv-section .kv-deco-left .sticker-ui {
    bottom: 39%;
    width: 56%;
  }
  .kv-section .kv-deco-left .sticker-rwd {
    right: 26%;
    top: -15%;
    width: 42%;
  }
  .kv-section .kv-deco-left .shine-green {
    top: 12%;
    left: 15%;
  }
  .kv-section .kv-deco-right .dot-green {
    right: 0;
    top: 4%;
    width: 22%;
  }
  .kv-section .kv-deco-right .sticker-html {
    top: 21%;
    right: 5%;
    width: 55%;
  }
  .kv-section .kv-deco-right .shine-orange {
    bottom: 25%;
    width: 10%;
  }
}
@media (max-width: 767.98px) {
  .kv-section .kv-deco-left .dot-orange {
    left: -20%;
  }
  .kv-section .kv-deco-left .sticker-rwd {
    width: 160px;
    right: 40%;
  }
  .kv-section .kv-deco-left .shine-green {
    top: 20%;
  }
  .kv-section .kv-deco-right .dot-green {
    right: -10%;
    top: -8%;
  }
  .kv-section .kv-deco-right .sticker-html {
    top: 40%;
    right: -12%;
    width: 170px;
  }
  .kv-section .kv-slogan {
    margin-bottom: 20px;
  }
  .kv-section .kv-slogan h1 {
    font-size: 40px;
  }
  .kv-section .kv-pic .pic-box {
    width: 70%;
    -webkit-transform: translateX(10px);
        -ms-transform: translateX(10px);
            transform: translateX(10px);
  }
}
@media (max-width: 575.98px) {
  .kv-section .kv-slogan {
    margin-bottom: 0;
  }
  .kv-section .kv-slogan h1 {
    font-size: 28px;
  }
  .kv-section .kv-deco-left .dot-orange {
    left: 0;
  }
  .kv-section .kv-deco-left .shine-green {
    top: 20%;
    width: 25px;
  }
  .kv-section .kv-deco-left .sticker-rwd {
    width: 100px;
    right: 40%;
  }
  .kv-section .kv-deco-right .dot-green {
    right: 0;
    top: 0;
  }
  .kv-section .kv-deco-right .sticker-html {
    top: 35%;
    right: 0%;
    width: 110px;
  }
  .kv-section .kv-deco-right .shine-orange {
    bottom: 65%;
  }
  .kv-section .kv-pic .pic-box {
    width: 60%;
  }
}

@-webkit-keyframes up-down {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes up-down {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  100% {
    -webkit-transform: translateY(-10deg);
            transform: translateY(-10deg);
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  100% {
    -webkit-transform: translateY(-10deg);
            transform: translateY(-10deg);
  }
}
@-webkit-keyframes sparkle {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
@keyframes sparkle {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
.about-section {
  position: relative;
  margin-top: -80px;
  padding-bottom: 70px;
  z-index: 2;
}
.about-section::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  background: url("../images/img-about-bg-bottom.svg") bottom left no-repeat;
  background-size: cover;
  -webkit-filter: drop-shadow(0 -3mm 4mm rgba(43, 32, 22, 0.15));
          filter: drop-shadow(0 -3mm 4mm rgba(43, 32, 22, 0.15));
  width: 100%;
  height: 100%;
  z-index: -1;
}
.about-section::after {
  content: "";
  position: absolute;
  top: -95px;
  background: url("../images/img-about-bg-top.svg") bottom right no-repeat;
  background-size: 100%;
  width: 100%;
  height: 105px;
  z-index: -1;
}
.about-section .sec-title {
  padding-top: 30px;
  margin-bottom: 30px;
}
.about-section .sec-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 3;
  width: 80%;
  max-width: 1200px;
  margin: auto;
  padding: 0 30px;
  color: #545454;
  background-image: repeating-linear-gradient(transparent, transparent calc(3em - 1px), #ccc calc(3em - 1px), #ccc 3em);
  background-size: 100% 3em; /* 2em 必須與 line-height 對應 */
}
.about-section .sec-text__wrap {
  padding-left: 100px;
}
@media (min-width: 1600px) {
  .about-section {
    padding-bottom: 100px;
  }
  .about-section::after {
    height: 156px;
    top: -155px;
  }
}
@media (max-width: 1199.98px) {
  .about-section {
    margin-top: -50px;
  }
  .about-section::before {
    width: 109%;
  }
  .about-section::after {
    background-size: 105%;
  }
  .about-section .sec-text__wrap {
    padding-left: 50px;
  }
  .about-section .sec-text {
    width: 90%;
    padding: 0 20px;
  }
}
@media (max-width: 991.98px) {
  .about-section::before {
    width: 113%;
  }
  .about-section .sec-text {
    width: 80%;
    padding: 0 20px;
  }
}
@media (max-width: 767.98px) {
  .about-section {
    padding-bottom: 90px;
  }
  .about-section::before {
    width: 121%;
    background-position: bottom left -70px;
  }
  .about-section::after {
    background-size: 150%;
  }
  .about-section .sec-title {
    padding-top: 0;
  }
  .about-section .sec-text {
    font-size: 18px;
  }
}
@media (max-width: 575.98px) {
  .about-section {
    margin-top: -30px;
    padding-bottom: 60px;
  }
  .about-section::before {
    background-position: bottom right;
  }
  .about-section::after {
    background-size: 200%;
  }
  .about-section .sec-title {
    margin-bottom: 12px;
  }
  .about-section .sec-text {
    width: 90%;
    padding: 0 10px;
    font-size: 16px;
    line-height: 2.5;
    background-image: repeating-linear-gradient(transparent, transparent calc(2.5em - 1px), #ccc calc(2.5em - 1px), #ccc 2.5em);
    background-size: 100% 2.5em;
  }
  .about-section .sec-text__wrap {
    padding: 0;
  }
}

.advantage-section {
  margin-top: 80px;
}
.advantage-section .sec-title {
  position: relative;
}
.advantage-section .sec-title::before {
  content: "";
  position: absolute;
  top: -65px;
  left: 20%;
  background: url("../images/img-man-plane@2x.png") center no-repeat;
  background-size: 100%;
  width: 168px;
  height: 151px;
}
.advantage-section .advantage-row {
  margin-top: 50px;
  padding: 0 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  -webkit-column-gap: 3rem;
     -moz-column-gap: 3rem;
          column-gap: 3rem;
  row-gap: 3rem;
}
.advantage-section .advantage-item:hover {
  -webkit-transform: translateY(-15px);
      -ms-transform: translateY(-15px);
          transform: translateY(-15px);
}
.advantage-section .item-box {
  background-color: #e5d8c0;
  padding: 0 0 20px;
  border-radius: 95px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.advantage-section .item-box .item-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  font-family: "sketchnote-square", sans-serif;
  color: #8b6d54;
  margin-top: -10px;
}
.advantage-section .item-box .item-title span {
  font-size: 45px;
  margin-right: 10px;
}
.advantage-section .item-box .item-title p {
  font-size: 24px;
  margin: 0;
}
.advantage-section .item-box .item-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.advantage-section .item-box .item-inner .item-pic {
  width: 84px;
  height: auto;
}
.advantage-section .item-box .item-inner .item-pic img {
  width: 100%;
}
.advantage-section .item-box .item-inner .item-txt {
  margin-top: 10px;
}
.advantage-section .item-box .item-inner .item-txt span {
  font-size: 15px;
  font-weight: 500;
}
@media (max-width: 991.98px) {
  .advantage-section .advantage-row {
    margin-top: 70px;
    -webkit-column-gap: 2.5rem;
       -moz-column-gap: 2.5rem;
            column-gap: 2.5rem;
    row-gap: 2.5rem;
  }
  .advantage-section .item-box {
    border-radius: 75px;
  }
}
@media (max-width: 767.98px) {
  .advantage-section .sec-title::before {
    top: -95px;
    left: 0%;
  }
  .advantage-section .advantage-row {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (max-width: 575.98px) {
  .advantage-section .sec-title::before {
    top: -150%;
    left: -10%;
    width: 130px;
  }
  .advantage-section .advantage-row {
    margin-top: 40px;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    -webkit-column-gap: 1.5rem;
       -moz-column-gap: 1.5rem;
            column-gap: 1.5rem;
    row-gap: 1.5rem;
  }
}

.works-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #8b6d54;
  position: relative;
  height: 600px;
  margin-top: 80px;
}
.works-section .my-works {
  width: 60%;
  padding: 80px 0 0 30px;
  position: relative;
}
.works-section .my-works h2 {
  font-family: "sketchnote-square", sans-serif;
  font-size: 50px;
  color: white;
}
.works-section .my-works .works-subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}
.works-section .my-works .works-subtitle .sub-dash {
  width: 30px;
  height: 2px;
  background-color: white;
}
.works-section .my-works .works-subtitle span {
  font-size: 15px;
  letter-spacing: 3px;
  padding-left: 10px;
  color: white;
}
.works-section .my-works::before {
  content: "";
  position: absolute;
  bottom: 5%;
  left: 20%;
  background: url("../images/img-man-idea@2x.png") center no-repeat;
  background-size: 100%;
  width: 178px;
  height: 192px;
}
.works-section .works-wrap {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.works-section .works-left {
  margin: auto 0;
  width: 40%;
}
.works-section .works-left .works-tab {
  position: relative;
  margin-left: 70px;
}
.works-section .works-left .works-tab::before {
  content: "";
  position: absolute;
  left: -350px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 500px;
  height: 500px;
  background: url("../images/img-works-tab-circle.svg") center no-repeat;
  background-size: 100%;
  z-index: 0;
}
.works-section .works-left .works-tab::after {
  content: "";
  position: absolute;
  left: -210px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 200px;
  height: 200px;
  background-color: #c3a891;
  border-radius: 50%;
}
.works-section .works-left .works-tab:has(.list-group-item-1.active)::before {
  -webkit-transform: translateY(-50%) rotate(0deg);
      -ms-transform: translateY(-50%) rotate(0deg);
          transform: translateY(-50%) rotate(0deg);
}
.works-section .works-left .works-tab:has(.list-group-item-2.active)::before {
  -webkit-transform: translateY(-50%) rotate(15deg);
      -ms-transform: translateY(-50%) rotate(15deg);
          transform: translateY(-50%) rotate(15deg);
}
.works-section .works-left .works-tab:has(.list-group-item-3.active)::before {
  -webkit-transform: translateY(-50%) rotate(30deg);
      -ms-transform: translateY(-50%) rotate(30deg);
          transform: translateY(-50%) rotate(30deg);
}
.works-section .works-left .works-tab .list-group-item {
  font-family: "sketchnote-square", sans-serif;
  background-color: transparent;
  color: #c3a891;
  border: none;
  border-radius: 0;
  padding: 0 0 0 10px;
  margin: 15px 0;
  font-size: 18px;
  z-index: 2;
}
.works-section .works-left .works-tab .list-group-item.active {
  color: white;
  border: none;
  border-left: 3px solid #ffa461;
}
.works-section .works-left .works-tab .list-group-item:nth-child(2) {
  margin-left: 15px;
}
.works-section .works-content {
  width: 60%;
  padding-right: 100px;
  max-height: 100%;
  overflow-y: scroll;
}
.works-section .works-content::-webkit-scrollbar {
  display: none;
}
.works-section .works-web-wrap {
  border-left: solid 1px #c3a891;
  border-right: solid 1px #c3a891;
  position: relative;
}
.works-section .works-web-wrap::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 1px;
  height: 100%;
  background-color: #c3a891;
}
.works-section .works-web-wrap .row {
  --bs-gutter-x: 0;
}
.works-section .works-web-wrap .works-box {
  padding-left: 1px;
  padding-right: 0;
}
.works-section .works-web-wrap .works-box:first-child {
  padding-top: 80px;
}
.works-section .works-web-wrap .works-box:nth-child(2n) {
  padding-top: 37%;
}
.works-section .works-web-wrap .works-box:nth-child(2) {
  padding-top: 47%;
}
.works-section .works-web-wrap .works-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 10px;
}
.works-section .works-web-wrap .works-title span {
  font-family: "sketchnote-square", sans-serif;
  font-size: 50px;
  color: white;
}
.works-section .works-web-wrap .works-title .title-sub {
  font-size: 0;
  padding-left: 10px;
}
.works-section .works-web-wrap .works-title .title-sub p {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 0;
  color: white;
}
.works-section .works-web-wrap .works-title .title-sub span {
  font-family: "Expletus Sans", sans-serif;
  font-size: 15px;
  color: #d3c3b7;
}
.works-section .works-web-wrap .works-project {
  padding: 5px;
  background-color: #eee6df;
  width: 90%;
  position: relative;
}
.works-section .works-web-wrap .works-project::before {
  content: "";
  position: absolute;
  top: 0;
  right: -11%;
  width: 11%;
  height: 116%;
  background: url("../images/img-works-box-right.svg") top no-repeat #dbc8b8;
  background-size: 100%;
}
.works-section .works-web-wrap .works-project::after {
  content: "";
  position: absolute;
  bottom: -22%;
  left: 0;
  width: 111%;
  height: 22%;
  background: url("../images/img-works-box-bottom.svg") top no-repeat;
  background-size: 100%;
}
.works-section .works-web-wrap .works-project .project-pic {
  width: 100%;
  height: 0;
  border-radius: 8px;
  padding-top: 56.25%;
  position: relative;
  overflow: hidden;
}
.works-section .works-web-wrap .works-project .project-pic img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: auto;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
}
.works-section .works-web-wrap .works-project .project-pic .project-cta {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(43, 32, 22, 0.55);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
}
.works-section .works-web-wrap .works-project .project-pic .project-cta .project-btn {
  margin: auto;
}
.works-section .works-web-wrap .works-project .project-pic:hover .project-cta {
  opacity: 1;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
.works-section .works-web-wrap .works-project .project-pic:hover img {
  -webkit-transform: scale(1.1) translate(-45%, -45%);
      -ms-transform: scale(1.1) translate(-45%, -45%);
          transform: scale(1.1) translate(-45%, -45%);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}
.works-section .works-web-wrap:nth-child(2) .works-box {
  padding-top: 4%;
}
.works-section .works-web-wrap:last-child .works-box {
  padding-top: 0;
  padding-bottom: 80px;
}
@media (max-width: 1199.98px) {
  .works-section .works-web-wrap::before {
    display: none;
  }
  .works-section .works-web-wrap .works-box:nth-child(2n) {
    padding-top: 60px;
  }
  .works-section .works-web-wrap .works-box:nth-child(2n-1) {
    padding-top: 60px;
  }
  .works-section .works-web-wrap .works-box:first-child {
    padding-top: 50px;
  }
}
@media (max-width: 991.98px) {
  .works-section .works-web-wrap .works-box:nth-child(2n) {
    padding-top: 50px;
  }
  .works-section .works-web-wrap .works-box:nth-child(2n-1) {
    padding-top: 50px;
  }
}
@media (max-width: 767.98px) {
  .works-section .works-web-wrap .works-box:nth-child(2n) {
    padding-top: 70px;
  }
  .works-section .works-web-wrap .works-box:nth-child(2n-1) {
    padding-top: 70px;
  }
  .works-section .works-web-wrap:first-child .works-box:first-child {
    padding-top: 40px;
  }
}
@media (max-width: 575.98px) {
  .works-section .works-web-wrap .works-title .title-sub p {
    font-size: 16px;
  }
  .works-section .works-web-wrap .works-title .title-sub span {
    font-size: 13px;
  }
  .works-section .works-web-wrap:first-child .works-box:first-child {
    padding-top: 30px;
  }
}
@media (min-width: 1600px) {
  .works-section {
    height: calc(100vh - 170px);
  }
  .works-section .my-works::before {
    width: 268px;
    height: 268px;
    left: 10%;
  }
}
@media (max-width: 1199.98px) {
  .works-section .works-content {
    padding-right: 60px;
  }
  .works-section .works-wrap {
    width: 50%;
  }
  .works-section .my-works {
    width: 60%;
  }
}
@media (max-width: 991.98px) {
  .works-section .my-works h2 {
    font-size: 35px;
  }
  .works-section .works-left .works-tab {
    margin-left: 30px;
  }
  .works-section .works-left .works-tab::before {
    width: 460px;
    height: 460px;
    left: -320px;
  }
  .works-section .works-left .works-tab::after {
    left: -160px;
    width: 160px;
    height: 160px;
  }
  .works-section .works-wrap {
    width: 54%;
  }
  .works-section .works-content {
    width: 46%;
    padding-right: 30px;
  }
}
@media (max-width: 767.98px) {
  .works-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 700px;
  }
  .works-section .works-wrap {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: solid 1px #c6b5a8;
  }
  .works-section .works-content {
    width: 100%;
    padding-left: 30px;
  }
  .works-section .works-left {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: auto;
    margin: 0;
    padding: 20px;
  }
  .works-section .works-left .works-tab {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    row-gap: 12px;
    margin-left: 0;
  }
  .works-section .works-left .works-tab::before, .works-section .works-left .works-tab::after {
    display: none;
  }
  .works-section .works-left .works-tab .list-group-item {
    padding-left: 0;
    padding-bottom: 2px;
    margin: 0;
    width: auto;
  }
  .works-section .works-left .works-tab .list-group-item.active {
    border-left: none;
    border-bottom: 3px solid #ffa461;
  }
  .works-section .works-left .works-tab .list-group-item:nth-child(2) {
    margin: 0;
  }
  .works-section .my-works {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    width: initial;
    height: 100%;
    padding: 20px;
    border-right: solid 1px #c6b5a8;
  }
  .works-section .my-works::before {
    display: none;
  }
}
@media (max-width: 575.98px) {
  .works-section {
    height: calc(100vh - 64px);
  }
  .works-section .my-works .works-subtitle span {
    font-size: 13px;
  }
}

.contact-section {
  padding: 20px 0;
  overflow-y: hidden;
}
.contact-section .contact-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contact-section .contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 6rem;
     -moz-column-gap: 6rem;
          column-gap: 6rem;
}
.contact-section .contact-info .email-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "sketchnote-square", sans-serif;
}
.contact-section .contact-info .email-wrap span {
  margin-right: 20px;
  color: #8b6d54;
  font-size: 20px;
}
.contact-section .contact-info .email-wrap p {
  margin: 0;
  color: #88827e;
  font-size: 16px;
}
.contact-section .contact-pic {
  width: 200px;
  height: auto;
  -webkit-transform: translateY(30px);
      -ms-transform: translateY(30px);
          transform: translateY(30px);
}
.contact-section .contact-pic img {
  width: 100%;
}
@media (max-width: 991.98px) {
  .contact-section .contact-info {
    -webkit-column-gap: 3rem;
       -moz-column-gap: 3rem;
            column-gap: 3rem;
  }
  .contact-section .contact-pic {
    width: 160px;
  }
}
@media (max-width: 767.98px) {
  .contact-section .contact-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 2rem;
  }
}
@media (max-width: 575.98px) {
  .contact-section {
    padding: 50px 0;
  }
  .contact-section .contact-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 2rem;
  }
  .contact-section .contact-info {
    row-gap: 1rem;
  }
  .contact-section .contact-pic {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
  }
}

.modal {
  padding: 20px;
}

.modal-dialog {
  max-width: 100%;
  margin: 0;
}
.modal-dialog.modal-dialog-scrollable {
  height: 100%;
}
.modal-dialog .modal-content {
  height: 100%;
  border-radius: 12px;
}
.modal-dialog .modal-content .modal-header {
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  position: fixed;
  top: 20px;
  right: 16px;
  z-index: 1000;
  width: 100%;
  border: none;
  padding: 20px 30px;
}
.modal-dialog .modal-content .modal-header h5 {
  text-align: center;
}
.modal-dialog .modal-content .modal-header .btn-close {
  background-color: white;
}
.modal-dialog .modal-content .modal-body {
  padding: 0;
}
.modal-dialog .modal-content .modal-body .modal-img {
  width: 100%;
  height: auto;
}
.modal-dialog .modal-content .modal-body .modal-img img {
  position: initial;
  width: 100%;
  height: auto;
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
}
.modal-dialog .modal-content .modal-body .modal-btn {
  position: fixed;
  width: calc(100% - 40px);
  bottom: 20px;
  left: 21px;
  border-radius: 0 0 12px 12px;
  text-align: center;
  background: rgba(255, 255, 255, 0.65);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  padding: 6px 0;
}

.modal-mega .modal-body {
  background-color: #f3f2ff;
}

.modal-sinopac .modal-content .modal-body .modal-btn {
  background-color: rgba(0, 0, 0, 0.65);
}

@media (max-width: 575.98px) {
  .modal {
    padding: 12px;
  }
  .modal-dialog .modal-content .modal-header {
    top: 8px;
    right: 4px;
  }
  .modal-dialog .modal-content .modal-body .modal-btn {
    width: calc(100% - 24px);
    bottom: 12px;
    left: 12px;
  }
}/*# sourceMappingURL=style.css.map */