/* <footer> -------------------- */
.footer {
  &-inner {
    background-color: $blue-500;
    text-align: center;
    padding: 20px 0;
    p {
      font-family: "new-rubrik", sans-serif;
      font-size: 14px;
      color: #b0c5ee;
      margin: 0;
    }
  }
  z-index: 10;
  @include media-breakpoint-down(sm) {
    p {
      font-size: 12px;
    }
  }
}
