.nav-sec {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  @include media-breakpoint-down(lg) {
    top: 0;
    left: 0;
    transform: translateX(0);
    width: 100%;
  }
}
.navbar-main {
  position: relative;
  padding: 15px;
  background: url("../images/img-bg-grid@2x.png") top center no-repeat #fef4e1;
  background-size: cover;
  border-bottom: solid 1px #8b6d54;
  font-family: "sketchnote-square", sans-serif;
  .navbar-brand {
    color: $brown-500;
    font-size: 30px;
  }
  .navbar-nav {
    margin: 0;
    .nav {
      &-item {
        cursor: pointer;
        flex: 1;
        text-align: center;
        padding: 0 40px;
        @include flex($a: center, $j: center);
        position: relative;
      }
      &-item-en {
        padding: 0 30px;
      }
      &-link {
        padding: 5px 0;
        color: $brown-500;
        z-index: 1;
        position: relative;
        display: flex;
        align-items: center;
        height: 100%;
        font-size: 20px;
        font-weight: 500;
        white-space: nowrap;
        &::before {
          content: "";
          position: absolute;
          bottom: -10px;
          left: 0;
          width: 100%;
          height: 5px;
          background: url("../images/img-wavy.svg") left repeat-x;
          background-size: cover;
          background-position: 100%;
          display: none;
          animation: wavy 2s linear infinite alternate;
        }
        &:hover,
        &.active {
          text-decoration: none;
          color: $orange-500;
          &::before {
            @include tran();
            display: initial;
          }
        }
      }
      @include media-breakpoint-down(xl) {
        &-item {
          padding: 10px 20px;
          justify-content: start;
        }
      }
      @include media-breakpoint-down(lg) {
        &-item {
          padding: 4px 0;
        }
        &-link::before {
          bottom: 0px;
        }
      }
      @include media-breakpoint-down(sm) {
        &-link {
          font-size: 16px;
        }
      }
    }
  }
  .navbar-toggler {
    border: none;
    padding: 0;
    width: 30px;
    height: 30px;
    img {
      width: 100%;
    }
    &:focus {
      box-shadow: none;
    }
    .toggler-close {
      display: none;
    }
  }
  .navbar-toggler[aria-expanded="true"] {
    .togglar-hamburger {
      display: none;
    }
    .toggler-close {
      display: block;
    }
  }
  .navbar-collapse {
    justify-content: flex-end;
  }

  @include media-breakpoint-down(lg) {
    border-radius: 0;
    &::before {
      display: none;
    }
    &::after {
      display: none;
    }
    .navbar-nav {
      padding: 15px 0;
    }
    .language-drop {
      display: none;
    }
    .language-tab-m {
      display: flex;
      align-items: center;
      padding: 25px 20px 15px;
      border-top: solid 1px $gray-200;
      .language-ic {
        width: 24px;
        height: auto;
        img {
          width: 100%;
        }
      }
      .language-active {
        padding: 0 10px 0 5px;
        border-right: solid 1px $gray-900;
        a {
          color: $blue-500;
          text-decoration: none;
          font-size: 18px;
          font-weight: 500;
          margin: 0;
        }
      }
      .language-default {
        padding-left: 10px;
        a {
          color: $gray-500;
          text-decoration: none;
          font-size: 18px;
          font-weight: 500;
          margin: 0;
        }
      }
    }
  }
  @include media-breakpoint-down(md) {
    padding: 10px;
  }
  @include media-breakpoint-down(sm) {
    padding: 10px 5px;
    .navbar-brand {
      font-size: 22px;
    }
    .navbar-brand-en {
      width: 200px;
      height: auto;
    }
    .language-tab-m {
      display: flex;
      align-items: center;
      padding: 25px 10px 15px;
      border-top: solid 1px $gray-200;
      .language-active {
        padding: 0 10px 0 5px;
        a {
          font-size: 16px;
        }
      }
      .language-default {
        a {
          font-size: 16px;
        }
      }
    }
  }
}

@keyframes wavy {
  0% {
    background-position: 0%;
  }
  50% {
    background-position: 100%;
  }
  100% {
    background-position: 200%;
  }
}
