<div class="footer-wrap">
    <div class="footer-content">
        <div class="footer-top">
            <img src="./images/footer-logo.png" class="img-fluid" alt="">
        </div>
        <div class="footer-bottom">
            <div class="footer-address">
                <p>Email:bd@moregeek.com</p>
            </div>
            <div class="footer-social">
                <a href="#" class="social-icon" target="_blank">
                    <img src="./images/fb-icon.png" class="img-fluid" alt="">
                </a>
                <a href="#" class="social-icon" target="_blank">
                    <img src="./images/twitter-icon.png" class="img-fluid" alt="">
                </a>
                <a href="#" class="social-icon" target="_blank">
                    <img src="./images/ig-icon.png" class="img-fluid" alt="">
                </a>
                <a href="#" class="social-icon" target="_blank">
                    <img src="./images/yt-icon.png" class="img-fluid" alt="">
                </a>
            </div>
        </div>
    </div>
</div>
<div class="footer-copyright">
    <div class="copyright">
        <p>© Copyright 2021 www.moregeek.com | All Rights Reserved</p>
    </div>
</div>